<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>React Demo3</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- <script src="javascripts/dataTool.js"></script> -->
    <!-- <script src="//cdn.bootcss.com/echarts/3.4.0/echarts.common.js"></script> -->
  </head>
  <body>
  <div id="main">
    <section id="content"></section>
    <div class="out">
      <div class="outter"><div id="charts"></div></div>
      <div class="outter2"><div id="charts2"></div></div>
      <div class="outter3"><div id="charts3"></div></div>
    </div>
  </div>
  <script src="bundle.js"></script>
  </body>
</html>