<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>SPC统计过程控制系统</title>
    <link rel="stylesheet" href="stylesheets/index.css" />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
<script src="javascripts/xlsx.full.min.js"></script>
    <!-- <script src="javascripts/dataTool.js"></script> -->
    <!-- <script src="//cdn.bootcss.com/echarts/3.4.0/echarts.common.js"></script> -->
  </head>
  <body>
  <div id="main">
    <section id="content"></section>

  </div>
  <script src="bundle.js"></script>
  </body>
</html>